<%= form_with(model: carry, local: true) do |form| %>
  <% if carry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carry.errors.count, "error") %> prohibited this carry from being saved:</h2>

      <ul>
      <% carry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :carry_type %>
    <%= form.text_field :carry_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
