<div href="#" class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= carry.title %></h5>
    <small>Leader Raider.IO: <%= main.raider_io %>
    &nbsp;
    Type: <%= carry.carry_type.capitalize %></small>
  </div>

  <small>Starting Price: <%= wowGoldConverter(carry.price) %></small>
  <br/>
  <%= link_to 'More Info', carry, class: "btn btn-info" %>

  <div class="float-right">
    <% if user_signed_in? && owned?(carry) %>
      <%= link_to 'Edit', edit_carry_path(carry), class: "btn btn-warning" %>
      <%= link_to 'Delete', carry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
    <a data-toggle="modal" data-target="#whisperModal-<%= carry.id %>" class="btn btn-primary" href="#">Whisper</a>
  </div>
</div>

<div class="modal fade" id="whisperModal-<%= carry.id %>" tabindex="-1" role="dialog" aria-labelledby="whisperModalLabel-<%= carry.id %>" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button class="btn clipboard" data-clipboard-target="#whisper-text-<%= carry.id %>">
          <i class="fas fa-clipboard" alt="Copy to clipboard"></i> Copy
        </button>
        <pre id="whisper-text-<%= carry.id %>">/w <%= main.whisper_name %> Hi, I'm interested in your carry: "<%= carry.title %>" starting at: <%= wowGoldConverter(carry.price) %></pre>
      </div>
    </div>
  </div>
</div>
