<%= link_to "Sync Bnet Characters", { controller: "user", action: "sync_characters", remote: true }, class: "btn btn-primary m-1" %>
<p>
  Please toggle and save the character you wish to have displayed as your main.
</p>
<%# <%= form_for :characters do |form| %1> %>
  <% @characters.each do |character| %>
    <%# <%= form.fields_for "characters[]", character do |f| %1> %>
      <div class="card mb-3">
        <div class="row no-gutters">

          <div class="col-md-1">
            <%= image_tag "http://render-us.worldofwarcraft.com/character/#{character.thumbnail}", class: "card-img" %>
          </div>

          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title"><%= character.name %></h5>
              <%= character.realm %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card-body">
              <%= form_for character do |f| %>
                <div class="ckbx-style-8">
                  <h6>Main</h6>
                  <%= f.check_box :main, id: "ckbx-style-8-#{character.id}", class: "character_check", onchange: "submit()" %>
                  <label for="ckbx-style-8-<%= character.id %>"></label>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <%# <% end %1> %>
  <%# <%= form.submit class: "btn btn-primary m-1" %1> %>
<%# <% end %1> %>
