<!DOCTYPE html>
<html>
  <head>
    <title>CarryMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
        <%= link_to "CarryMe", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= active_class("key", carries_path) %>">
              <%= link_to "Keys", carries_path(carry: {search: "key"}), class: "nav-link" %>
            </li>
            <li class="nav-item <%= active_class("raid", carries_path) %>">
              <%= link_to "Raids", carries_path(carry: {search: "raid"}), class: "nav-link" %>
            </li>
            <li class="nav-item <%= active_class("pvp", carries_path) %>">
              <%= link_to "PvP", carries_path(carry: {search: "pvp"}), class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item <%= active_class("", user_path(current_user)) %>">
                <%= link_to "Profile", current_user, class: "nav-link" %>
              </li>
              <li class="nav-item <%= active_class("", new_carry_path) %>">
                <%= link_to "Add Carry", new_carry_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <%= form_with scope: :carry, url: carries_path, method: 'get', local: true, class: "form-inline my-2 my-lg-0" do |f| %>
            <%= f.text_field(:search, placeholder: "Search Carries", id: :search, class: "form-control mr-sm-2") %>
          <% end %>
          &nbsp;
          <% if !user_signed_in? %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-success my-2 my-sm-0", data: { toggle: "modal", target: "#loginModal" } %>
          <% else %>
            <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "btn btn-warning my-2 my-sm-0" %>
          <% end %>
        </div>
      </div>
    </nav>

    <% if !user_signed_in? %>
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row align-items-center">
                <div class="col-sm">
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                  </div>
                <% end %>
                <%= link_to "Sign Up", new_user_registration_path %>
              </div>
              <div class="col-sm">
                <%= link_to "Sign in with Bnet", omniauth_authorize_path(:user, 'bnet'), class: "btn btn-info" %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <main>
      <div class="container">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="navbar bg-primary fixed-bottom">
      <div class="container text-white">
        <div class="row align-items-center">
          <div class="col-sm">
            <small>
              CarryMe &copy;2019 <a class="text-white" href="https://www.jeremydwayne.com">JeremyDwayne</a> of <a class="text-white" href="http://www.death-jesters.net">Death Jesters</a>
            </small>
            </br>
            <small>
              <a href="https://www.twitter.com/jeremydwayne" alt="twitter.com" class="text-white"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
              <a href="https://discord.gg/zwsSEp2" alt="discord" class="text-white"><i class="fab fa-discord fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="https://www.patreon.com/jeremydwayne" alt="patreon" class="text-white"><i class="fab fa-patreon fa-2x"></i></a> 
            </small>
            </br>
            <small>
              <a href="#" class="text-white">Terms of Use</a>&nbsp;&nbsp;|&nbsp;
              <a href="#" class="text-white">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;
              <a href="#" class="text-white">Cookies Policy</a>
            </small>

          </div>
          <div class="col-sm">
            <small>
            World of Warcraft, Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
          </small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
